* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: monospace;
}


p {
    font-size: 30px;
}

button {
    outline: none;
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0,102,255),100%);
    border-radius: 4px;
}

h1,h2 {
    font-size: 30px;
    text-align: center;
}

li {
    list-style: none;

}

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.top-nav p {
    float: right;
}

.inner-container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.quiz-home, main {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.quiz-home button {
    display: block;
    margin: 0 auto;
}

main{
    display: none;
}

.questions-screen {
    display: none;
}

.quiz-finish {
    display: none;
}

.highscores-screen {
    display: block;

}